@font-face {
    font-family: 'stars';
    src: url('fonts/stjedise/STJEDISE.TTF');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

.txt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.txt a {
    text-transform: capitalize;
    font-family: 'stars';
    font-size: 3rem;
    text-decoration: none;
    color: rgb(248, 198, 0);
}

#cabeca {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    height: 18vh;
    text-transform: uppercase;
    z-index: 5;
}

#logo {
    height: 90%;
}

#secao {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url("imagens/fundo.jpg");
    background-size: cover;
    background-position: center;
}

.fotos {
    margin-top: 18vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;
    transition: 0.96s ease;
}

.storm {
    height: 70%;
    width: 20%;
    border-radius: 10px;
    margin-left: 0.3%;
    margin-right: 0.3%;
}

#flyer img {
    background-position: center;
    width: 82vw;
    height: 80%;
    border-radius: 10px;
}

.botoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 60vh;
    margin-top: 18vh;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.542);
    border: none;
    height: 20vh;
    width: 5vw;
    margin: 40px;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    z-index: 10;
}

.large-icon {
    font-size: 10rem; 
    z-index: 6;
}

.button:active {
    height: 120px;
    width: 70px;
}

.secao2 {
    background-image: url("imagens/stormHead.png");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 82vh;
    width: 100%;
    overflow-x: hidden;
}

.avo {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 90%;
    width: 400px;
    overflow-x: hidden;
    border-radius: 10px;
}

.pai {
    display: flex;
    width: 400%;
    height: 100%;
    background-color: rgba(0, 255, 51, 0.573);
    flex: 0 0 auto;
    transition: 500ms ease;
}

.baby {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
    width: 100%;
    height: 100%;
}

.baby img {
    margin: 5%;
    width: 50%;
    height: 50%;
}

.info {
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255, 255, 0, 0.753);
    gap: 4%;
}

h1 {
    font-family: "stars";
}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 1.5rem;
}

.pay {
    background-color: rgb(255, 123, 0);
    font-family: 'stars';
    color: black;
    font-size: 1.2rem;
    height: 5vh;
    width: 22vw;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30%;
    width: 100vw;
    height: 25vh;
    position: absolute;
}

.sliders {
    background-color: rgba(0, 255, 255, 0.534);
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 8vw;
    height: 10vh;
}

.lados {
    font-size: 40px;
}


@media (max-width: 1000px) {

    body{
        width: 100vw;
        height: 100vh;
     }

    .cabeca {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
    }

    .txt {
        font-size: 2rem;
    }

    .fotos {
        width: 80vw;
        height: 70vh;
        display: flex;
        justify-content: center; 
        flex-wrap: wrap;
        overflow-y: scroll;
        overflow-x: hidden;
        gap: 12rem;
    }

    .storm {
        height: 100%;
        width: 80%; 
    }

    #flyer img {
        transform: translateX(69vw);
        height: 100%;
        width: 220vw;
    }

    .txt a {
        font-size: 2rem;
    }

    .button {
        width: 12vw;
        height:  18vh;
    }

    .avo {
        width: 280px;
        height: 80%;
    }

    .slide {
        display: flex;
        justify-content: space-between;
        width: 100vw;
    }
    .sliders {
        margin: 5%;
    }

    .baby img {
        height: 45%;
        width: 60%;
    }

    .fotos::-webkit-scrollbar {
        width: 0; 
    }

    .fotos::-webkit-scrollbar-track {
        background-color: transparent; 
    }

    .fotos::-webkit-scrollbar-thumb {
        background-color: transparent;
    } 

}


@media (max-height: 600px) {


    body {
        margin: 0;
        padding: 0;;
        width: 100vw;
        height: 100vh;
    }

    .secao {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fotos {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60vh;
        width: 80vw;
        gap: 3px;
    }

    .button {
        height: 50%;
        width: 10%;
    }

    .storm {
        width: 20%;
        height: 70%;
    }

    #flyer img {
        transform: translateX(0vw);
        height: 100%;
        width: 100%;
    }

    .avo {
        height: 300px;
        overflow-y: hidden;
    }

    .pai {
        height: 100%;
    }

    .baby {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .baby img {
        height: 40%;
        width: 40%;
        margin: 5px;
    }

    .info {
        height: 100%;
    }

    .info h1{
        margin-top: 5%;
        font-size: 140%;
    }

    .info h2 {
        font-size: 130%;
    }

    .info p {
        font-size: 130%;
    }
    
    .pay {
        font-size: 100%;
        width: 30%;
        height: 28px;
    }

}
